{% extends 'WedBundle::base.html.twig' %}

{% block pageHeading %} Clients {% endblock %}
{% block subheading %} Manager your Clients {% endblock %}
{% block content -%}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Responsive Hover Table</h3>
                    <div class="box-tools">
                        <div class="input-group">
                            <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody><tr>
                            <th>Id</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Clientcode</th>
                            <th>Email</th>
                            <th>Contactnumber</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Actions</th>
                        </tr>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.firstname }}</td>
                                <td>{{ entity.lastname }}</td>
                                <td>{{ entity.clientCode }}</td>
                                <td>{{ entity.email }}</td>
                                <td>{{ entity.contactNumber }}</td>
                                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>


                                            <a class="fa fa-info-circle" href="{{ path('client_show', { 'id': entity.id }) }}"></a>

                                            <a class="fa fa-edit" href="{{ path('client_edit', { 'id': entity.id }) }}"></a>

                                </td>
                            </tr>
                        {% endfor %}
                        <tr><td colspan="9"> <a class="btn bg-maroon margin" href="{{ path('client_new') }}">
                                    Create a new entry
                                </a></td></tr>

                        </tbody></table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>


    {% endblock %}
