<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ user.getProfilePicture() }}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>{{ user.getName() }}</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li >
                <a href="{{ path('_dashboard') }}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>

            </li>

            <li>
                <a href="{{ path('_shoots') }}">
                    <i class="fa fa-th"></i> <span>Shoots</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('_shoots') }}"><i class="fa fa-group"></i>Bookings</a></li>
                    <li><a href="{{ path('_clients') }}"><i class="fa fa-group"></i>Clients</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-picture-o"></i>Photos</a></li>
                </ul>
            </li>

            <li>
                <a href="{{ path('_calendar') }}">
                    <i class="fa fa-calendar"></i> <span>Calendar</span>
                    <small class="label pull-right bg-red">3</small>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-comment-o"></i> <span>Chat</span>
                    <small class="label pull-right bg-yellow">12</small>
                </a>

            </li>

            <li><a href="#"><i class="fa fa-usd"></i> Billing</a></li>
            <li><a href="#"><i class="fa fa-book"></i> Help</a></li>
            <li class="header"><i class="fa fa-cog"></i> Configure</li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i> Business Details</a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i> Packages</a></li>
            <li><a href="#"><i class="fa fa-money"></i> Banking Details </a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>